.Modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
}

.overlay {
    width: 100%;
    height: 100%;
    background: var(--overlay-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    opacity: 0;
}

.content {
    color: var(--primary-color);
    padding: 20px;
    border-radius: 12px;
    background: var(--bg-color);
    transition: all 0.3s ease;
    transform: scale(0.5);
    opacity: 0;
    max-width: 60%;
}

.opened {
    pointer-events: auto;
    opacity: 1;
    z-index: var(--modal-z-index);
}

.isOpening {
    .content {
        transform: scale(1);
        opacity: 1;
    }

    .overlay {
        opacity: 1;
    }
}

.isClosing {
    .content {
        transform: scale(0.4);
        opacity: 0;
    }

    .overlay {
        opacity: 0;
    }
}
