.Sidebar {
    height: calc(95vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--overlay-bg-color);
    border-radius: 30px;
    position: relative;
    transition: width 0.2s;
    box-shadow: 0 0 20px 3px rgb(34 60 80 / 60%);
}

.switchers {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.lang {
    margin-left: 20px;
}

.expandIcon {
    position: absolute;
    top: 10px;
    right: 22px;
    margin-left: auto;
    transform: rotate(90deg);
    path { fill: var(--inverted-primary-color); }
}

.items {
    margin-top: 20px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}

.item {
    margin-top: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.link {
    margin-left: 10px;
    opacity: 1;
    padding-top: 6px;
}

.icon {
    fill: var(--inverted-primary-color);

    &.current {
        fill: var(--current-link-color);
    }
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .switchers {
        flex-direction: column;
        align-items: center;
    }

    .expandIcon {
        fill: var(--inverted-primary-color);
        transform: rotate(-90deg);
    }

    .lang {
        margin-left: 0;
    }

    .link {
        opacity: 0;
        transition: 1s;
        width: 0;
        display: none;
    }

    .items {
        align-items: center;
        margin-left: 0;
    }
}
