.LoginForm {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 500px;
    box-sizing: border-box;
    padding: 0;
    left: 50%;
    transform: translate(-50%, 0);
    transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
}

.loginBtn {
    margin-top: 20px;
    margin-left: auto;
}
