.LoginForm {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 700px;
    min-width: 500px;
    box-sizing: border-box;
    padding: 0;
    left: 50%;
    transform: translate(-50%, 0);
    transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
}

.loginBtn {
    margin-top: 20px;
    margin-left: auto;
    background-color: var(--overlay-bg-color);
    border: none;
    line-height: 0;
    font-size: 17px;
    display: inline-block;
    box-sizing: border-box;
    padding: 20px 15px;
    border-radius: 12px;
    color: var(--secondary-color);
    font-weight: 100;
    letter-spacing: 0.01em;
    z-index: 1;
    transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);

    &:hover {
        color: var(--overlay-bg-color);
        background-color: var(--secondary-color);
    }

    &:active {
        background-color: var(--current-link-color);
        box-shadow: 0 5px 10px 2px var(--secondary-color);
    }

    &:focus {
        outline: none;
        box-shadow: 0 5px 10px 2px var(--secondary-color);
    }
}
