.app_dark_theme {
    --bg-image: url("http://localhost:3000/assets/dark.jpg");
    --bg-color: rgb(5 11 26 / 41.1%);
    --overlay-bg-color: rgb(255 255 255 / 8.2%);
    --overlay-border-color: 1px solid rgb(255 255 255 / 18%);
    --primary-color: rgb(10 10 10);
    --secondary-color: rgb(216 210 210);
    --inverted-primary-color: rgb(160 160 165);
    --inverted-secondary-color: rgb(9 72 123);
    --current-link-color: rgb(21 209 196);
}
