.app.dark {
    --bg-color: rgb(154 154 155);
    --overlay-bg-color: rgb(38 38 43);
    --primary-color: rgb(10 10 10);
    --secondary-color: rgb(113 175 82);
    --inverted-primary-color: rgb(160 160 165);
    --inverted-secondary-color: rgb(9 72 123);
    --current-link-color: rgb(21 209 196);
}
