.app.light {
    --bg-color: rgb(137 137 139);
    --inverted-bg-color: rgb(194 194 201);
    --primary-color: rgb(190 190 190);
    --secondary-color: rgb(9 72 123);
    --inverted-primary-color: rgb(18 80 116);
    --inverted-secondary-color: rgb(82 175 121);
    --current-link-color: rgb(60 170 233);
}
