.AppLink {
    color: var(--primary-color);
}

.primary {
    color: var(--primary-color);
}

.secondary {
    color: var(--inverted-primary-color);
}

.red {
    color: red;
}

.current {
    color: var(--current-link-color);
    box-shadow: 0 9px 6px -6px var(--current-link-color);
}
